@charset "UTF-8";
:root {
  --cor-primaria: #226615;
  --cor-primaria-clara: #30ec4f;
  --cor-primaria-escura: #18460e;
  --cinza-claro-1: #faf9f9;
  --cinza-claro-2: #f4f2f2;
  --cinza-claro-3: #f0eeee;
  --cinza-claro-4: #ccc;
  --cinza-escuro-1: #333;
  --cinza-escuro-2: #595959;
  --cinza-escuro-3: #4F4F4F;
  --cinza-escuro-4: #1d1c1c;
  --sombra-escura: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --sombra-clara: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --linha: 2px solid var(--cinza-claro-2);
}

html {
  box-sizing: border-box;
  font-size: 50%;
}
@media only screen and (min-width: 75em) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--cinza-escuro-2);
  background-image: linear-gradient(rgba(64, 224, 208, 0.5), rgba(0, 255, 255, 0.5)), url(../img/background.webp);
  background-size: cover;
  background-repeat: repeat;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

html, body, html::before, body::before, html::after, body::after {
  box-sizing: inherit;
}

.container {
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: var(--cinza-claro-1);
  box-shadow: var(--sombra-escura);
}
@media only screen and (min-width: 75em) {
  .container {
    max-width: 120rem;
    margin: 8rem auto;
    overflow: auto;
  }
}

.cta {
  padding: 2.5rem 0;
  text-align: center;
}
@media only screen and (min-width: 62em) {
  .cta {
    padding: 3.5rem 0;
  }
}
.cta__buy-now {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 2.5rem;
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--cor-primaria-clara), var(--cor-primaria-escura));
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.btn > * {
  display: inline-block;
  transition: all 0.2s;
}
.btn__visible {
  padding: 2rem 3.5rem;
}
.btn__invisible {
  padding: 2rem 3.5rem;
  position: absolute;
  left: 0;
  top: -100%;
}
.btn:hover {
  background-image: linear-gradient(to left, var(--cor-primaria-clara), var(--cor-primaria-escura));
  outline: none;
  animation: pulsar 0.8s infinite;
}
.btn:hover .btn__visible {
  transform: translateY(100%);
}
.btn:hover .btn__invisible {
  top: -10%;
}

.gallery {
  display: flex;
}
.gallery__item {
  margin: 0;
  position: relative;
}
.gallery__photo {
  width: 100%;
  height: 100%;
  display: block;
}
.gallery__description {
  width: 100%;
  font-size: 1.35rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 2.5px 2.5px 5px black;
  color: white;
  cursor: default;
  position: absolute;
  top: 2rem;
  opacity: 0;
  transition: all 0.3s;
}
@media only screen and (min-width: 37.5em) {
  .gallery__description {
    font-size: 2rem;
    top: 8rem;
  }
}
.gallery__item:hover .gallery__photo {
  filter: blur(1.5px);
}
.gallery__item:hover .gallery__description {
  opacity: 1;
}

.overview {
  background-color: #fff;
  flex: 1;
}

.btn-inline {
  border: none;
  color: var(--cor-primaria);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding: 0 0 2px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-inline span {
  margin-left: 3px;
  transition: margin-left 0.2s;
}
.btn-inline:hover {
  color: var(--cinza-escuro-1);
  outline: none;
  animation: pulsar 1s infinite;
}
.btn-inline:hover span {
  margin-left: 8px;
}

@keyframes pulsar {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.paragraph {
  text-align: justify;
  margin: 0 0 1.5rem;
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--linha);
  border-bottom: var(--linha);
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  flex: 0 0 50%;
  margin-bottom: 0.7rem;
}
.list__item::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 0.7rem;
  background-image: url(../img/arrow-right2.svg);
  background-size: cover;
}
@supports ((-webkit-mask-image: url()) or (mask-image: url())) and ((-webkit-mask-size: cover) or (mask-size: cover)) {
  .list__item::before {
    background-color: var(--cor-primaria-escura);
    background-image: none;
    -webkit-mask-image: url(../img/arrow-right2.svg);
    mask-image: url(../img/arrow-right2.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
  }
}

.recommendation {
  font-size: 1.35rem;
  color: var(--cinza-escuro-3);
  display: flex;
  align-items: center;
}
.recommendation__amount {
  margin-right: auto;
}
.recommendation__friends {
  display: flex;
}
.recommendation__photo {
  box-sizing: content-box;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 3px solid #fff;
  position: relative;
  transition: all 0.05s ease-out;
}
.recommendation__photo:not(:last-child) {
  margin-right: -2rem;
}
.recommendation__photo:hover {
  color: var(--cor-primaria);
  transform: scale(1.3);
  z-index: 1;
  border: 0.3rem solid currentColor;
  box-shadow: var(--sombra-escura);
}
.recommendation__friends:hover .recommendation__photo:not(:hover) {
  transform: scale(0.9);
}
.recommendation__photo:hover + .recommendation__photo:not(:hover) {
  transform: scale(1.2);
}

.rating {
  background-color: #fff;
  box-shadow: var(--sombra-clara);
  padding: 2rem;
  margin: 0 0 3rem;
  overflow: hidden;
  position: relative;
}
@media only screen and (min-width: 48em) {
  .rating {
    padding: 3rem;
    margin: 0 0 3.5rem;
  }
}
.rating__text {
  margin: 0 0 2rem;
  text-align: justify;
  z-index: 2;
  position: relative;
}
.rating__customer {
  display: flex;
  align-items: center;
}
.rating__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.rating__customer-box {
  margin-right: auto;
}
.rating__customer-name {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 0.4rem;
}
.rating__customer-date {
  font-size: 1.25rem;
  color: var(--cinza-escuro-3);
  margin: 0 0 0.4rem;
}
.rating__number {
  color: var(--cor-primaria);
  font-size: 2.2rem;
  font-weight: 300;
}
.rating::before {
  content: "“";
  position: absolute;
  top: -2.75rem;
  left: -1rem;
  line-height: 1;
  font-size: 20rem;
  color: var(--cinza-claro-2);
  font-family: sans-serif;
  z-index: 1;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: var(--linha);
}
.summary > * {
  margin-bottom: 2rem;
}
.summary__title {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.25rem 2rem;
  margin-right: 0;
  margin-bottom: 0;
}
@media only screen and (min-width: 37.5em) {
  .summary__title {
    padding: 1.5rem 3rem;
    margin: 1.5rem 0 1.5rem 0;
  }
}
.summary__price {
  font-size: 2rem;
  font-weight: 600;
}
.summary__price, .summary__review {
  background-color: var(--cor-primaria);
  color: #fff;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0.5rem 1.5rem;
  border-bottom: 3px solid rgb(96, 197, 96);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.summary__review-average {
  font-size: 2.25rem;
  font-weight: 300;
}
.summary__review-amount {
  font-size: 1.15rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 37.5em) {
  .summary__review-amount {
    font-size: 1.25rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 56.25em) {
  .content {
    flex-direction: row;
  }
}

.details {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: var(--cinza-claro-3);
  border-bottom: var(--linha);
}
@media only screen and (min-width: 37.5em) {
  .details {
    flex-direction: row;
  }
}
@media only screen and (min-width: 62em) {
  .details {
    padding: 3.5rem 4.5rem;
  }
}
.details__description {
  background-color: #fff;
  box-shadow: var(--sombra-clara);
  flex: 0 0 55%;
  padding: 2rem;
  margin-right: 0;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 37.5em) {
  .details__description {
    margin-right: 3rem;
  }
}
@media only screen and (min-width: 62em) {
  .details__description {
    padding: 3rem;
    margin-right: 4.5rem;
  }
}
.details__client-rating {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: var(--cinza-escuro-4);
  font-size: 1.4rem;
  color: var(--cinza-claro-4);
  text-align: center;
  padding: 2.5rem;
}
@media only screen and (min-width: 62em) {
  .footer {
    padding: 1.5rem;
  }
}
.footer__nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.footer__nav--item {
  width: 15rem;
}
@media only screen and (min-width: 37.5em) {
  .footer__nav--item {
    width: 30rem;
  }
}
@media only screen and (min-width: 62em) {
  .footer__nav--item {
    width: 15rem;
  }
}
.footer__nav--link:any-link {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  font-family: var(--fonte-display);
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}
.footer__nav--link:any-link:hover, .footer__nav--link:any-link:active {
  font-weight: 600;
  transform: translateY(-3px);
}

.header {
  font-size: 1.4rem;
  height: 15rem;
  padding-bottom: 2rem;
  background-color: #fff;
  border-bottom: var(--linha);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 37.5em) {
  .header {
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 7rem;
    padding-bottom: 0;
  }
}
.header__logo {
  height: 7rem;
  width: 20rem;
  margin-left: 0.5rem;
}
.header__search {
  flex: 0 0 100%;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--cinza-claro-2);
}
@media only screen and (min-width: 37.5em) {
  .header__search {
    order: 0;
    flex: 0 0 40%;
    background-color: white;
  }
}
.header__search--input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--cinza-claro-3);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  margin-right: -3.25rem;
  transition: all 0.2s;
}
.header__search--input:focus {
  outline: 1px solid var(--cinza-claro-4);
  width: 100%;
  background-color: var(--cinza-claro-3);
}
.header__search--input::placeholder {
  font-weight: 100;
  color: var(--cinza-escuro-2);
}
.header__search--btn {
  border: none;
  background-color: transparent;
}
.header__search--btn:active {
  transform: translateY(2px);
}
.header__search--icon {
  height: 2rem;
  width: 2rem;
  margin-left: -0.75rem;
  fill: var(--cinza-escuro-3);
  cursor: pointer;
}
@media only screen and (min-width: 48em) {
  .header__search--icon {
    margin-right: -0.5rem;
    margin-left: -0.75rem;
  }
}
.header__user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  position: relative;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 37.5em) {
  .header__user-nav {
    margin-bottom: 0;
  }
}
.header__user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.header__user-nav > *:hover {
  background-color: var(--cinza-claro-2);
}
.header__user-nav--icon-box {
  position: relative;
}
.header__user-nav--icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--cinza-escuro-2);
}
.header__user-nav--notification {
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--cor-primaria);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__user-nav--client-photo {
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.header__user-nav--messages {
  width: 20rem;
  background-color: var(--cinza-escuro-1);
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0;
  list-style: none;
  display: none;
  z-index: 2;
  position: absolute;
  top: 3.75rem;
  left: -7.5rem;
  border: 3px solid var(--cinza-escuro-2);
}
@media only screen and (min-width: 24.25em) {
  .header__user-nav--messages {
    top: 6rem;
  }
}
@media only screen and (min-width: 37.5em) {
  .header__user-nav--messages {
    top: 7rem;
  }
}
.header__user-nav--notice {
  position: relative;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.header__user-nav--chat {
  height: 2.25rem;
  width: 2.25rem;
  margin-right: 1rem;
  fill: yellow;
}
.header__user-nav--sentence {
  color: white;
}
.header__user-nav--sentence:hover {
  color: var(--cor-primaria-clara);
}
.header__user-nav--icon-box:hover .header__user-nav--messages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__user-nav--menu {
  width: 20rem;
  z-index: 3;
  display: none;
  position: absolute;
  top: 2.45rem;
  left: 4.7rem;
  padding-left: 0;
  border: 3px solid var(--cinza-escuro-2);
}
@media only screen and (min-width: 24.25em) {
  .header__user-nav--menu {
    top: 6rem;
  }
}
@media only screen and (min-width: 37.5em) {
  .header__user-nav--menu {
    top: 5.55rem;
  }
}
.header__user-nav--option {
  list-style: none;
  padding: 1rem;
  background-color: var(--cinza-escuro-1);
  position: relative;
  flex: 1;
  transition: all 0.3s;
}
.header__user-nav--option::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--cor-primaria);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
.header__user-nav--option:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.header__user-nav--topic {
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
}
.header__user-nav--topic-icon {
  height: 3rem;
  width: 3rem;
  margin-right: 1.5rem;
  fill: white;
}
.header__user-nav--word {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.header__user-nav--client:hover .header__user-nav--menu {
  display: flex;
  flex-direction: column;
}

.sidebar {
  background-color: var(--cinza-escuro-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar__nav {
  font-size: 1.4rem;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
@media only screen and (min-width: 62em) {
  .sidebar__nav {
    display: block;
    margin-top: 3.5rem;
  }
}
.sidebar__nav--item {
  position: relative;
  flex: 1 0 30%;
}
.sidebar__nav--item:not(:last-child) {
  margin: 0;
}
@media only screen and (min-width: 62em) {
  .sidebar__nav--item:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.sidebar__nav--item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--cor-primaria);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
.sidebar__nav--item:hover::before, .sidebar__nav--item-selected::before {
  transform: scaleY(1);
  width: 100%;
}
.sidebar__nav--item:active::before {
  background-color: var(--cor-primaria-clara);
}
.sidebar__nav--link:any-link {
  color: var(--cinza-claro-1);
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 62em) {
  .sidebar__nav--link:any-link {
    justify-content: flex-start;
  }
}
.sidebar__nav--link:any-link span {
  display: none;
}
@media only screen and (min-width: 37.5em) {
  .sidebar__nav--link:any-link span {
    display: block;
  }
}
.sidebar__nav--icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0;
  fill: currentColor;
}
@media only screen and (min-width: 37.5em) {
  .sidebar__nav--icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
  }
}