// AUTOCOMPLETE DO JAVASCRIPT
.autocomplete-items { // Parte do JavaScript para mostrar lista de opções na busca
    width: 95%;
    background-color: white;
    color: var(--cinza-escuro-2);
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    cursor: pointer;
    z-index: 2;

    display: flex;
    flex-direction: column;
    
    & > * {
        padding: .5rem 2rem;
        border-bottom: 1px solid var(--cinza-claro-4);

        &:hover {
            background-color: var(--cinza-escuro-1);
            color: var(--cor-primaria-clara);
        }
    }
}