.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: var(--linha);

    & > * {
        margin-bottom: 2rem;
    }

    &__title {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.25rem 2rem;
        margin-right: 0;
        margin-bottom: 0;

        @media only screen and (min-width: 37.5em) {
            padding: 1.5rem 3rem;
            margin: 1.5rem 0 1.5rem 0;
        }
    }

    &__price {
        font-size: 2rem;
        font-weight: 600;
    }

    &__price, &__review {
        background-color: var(--cor-primaria);
        color: #fff;
        margin-left: 0;
        margin-bottom: 0;
        padding: .5rem 1.5rem;
        border-bottom: 3px solid rgb(96, 197, 96);
        align-self: stretch;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__review-average {
        font-size: 2.25rem;
        font-weight: 300;
    }

    &__review-amount {
        font-size: 1.15rem;
        text-transform: uppercase;

        @media only screen and (min-width: 37.5em) {
            font-size: 1.25rem;
        }
    }
}