:root {
    --cor-primaria: #226615; 
    --cor-primaria-clara: #30ec4f;
    --cor-primaria-escura: #18460e;

    --cinza-claro-1: #faf9f9;
    --cinza-claro-2: #f4f2f2;
    --cinza-claro-3: #f0eeee;
    --cinza-claro-4: #ccc;

    --cinza-escuro-1: #333;
    --cinza-escuro-2: #595959; 
    --cinza-escuro-3: #4F4F4F; 
    --cinza-escuro-4: #1d1c1c;

    --sombra-escura: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --sombra-clara: 0 2rem 5rem rgba(0, 0, 0, 0.06);

    --linha: 2px solid var(--cinza-claro-2);
}

//BREAKPOINTS RESPONSIVOS
// 1200px = 75em
// 992px = 62em
// 768px = 48em 
// 600px = 37.5em
// 388px = 24.25em

html {
    box-sizing: border-box;
    font-size: 50%;

    @media only screen and (min-width: 75em) { 
        font-size: 62.5%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--cinza-escuro-2);
    background-image: linear-gradient(rgba(64, 224, 208, 0.50), rgba(0, 255, 255, 0.50)), url(../img/background.webp);
    background-size: cover;
    background-repeat: repeat;
    min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
}

html, body, html::before, body::before, html::after, body::after {
    box-sizing: inherit;
}

.container {
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: var(--cinza-claro-1);
    box-shadow: var(--sombra-escura);

    @media only screen and (min-width: 75em) {
        max-width: 120rem;
        margin: 8rem auto;
        overflow: auto;
    }
}